:root { /* Standard kumabaga, very useful gago. */
    font: 25px/1.2 "Roboto", san-serif;
}

body,
body * { /* All elements under body */
    margin: unset;
    box-sizing: unset;
    padding: unset;
    font-size: unset;
    color: unset;
    text-decoration: unset;
    text-align: left;
    background-color: rgb(245, 245, 245);
}

/* Removes browser default settings */