/* Layout */
.main { /* CENTERING A DIV AHAKDOG */
    display: grid;
    grid-template-columns: 1fr 9in 4in 1fr; /* fr as in Fractioning sections of webpage */
    grid-template-rows: auto auto auto;
    padding: 0.5in 0;
    grid-gap: 0.5in;
}

.main .main-body { /* All other divs */
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.main .main-title {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.main .side-navigation{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

/* -- END of Layout --*/


/* Response to Screensize */
@media (max-width: 13in) { /* Responsive Web Design, media query, adapts accordingly */
    .main { grid-template-columns: 5% 81% 9% 5%; }
    :root { font-size: 18px; }
}

@media (max-width: 5.0in) {
    :root { font-size: 16px; }
}
/* -- END of Response to Screensize -- */


/* Side Navigation Bar */
.side-navigation {
    outline: 1px solid rgb(194, 194, 194);
}

.side-navigation * {
    transition: 0.3s;
}

.side-navigation-header {
    text-align: center;
    margin: unset;
    padding: 0.3rem;
}

.side-navigation-header:hover {
    color:rgb(185, 0, 0);
}

.side-navigation-body  {
    background-color:rgb(185, 0, 0);
    padding: 1.8rem;
}

.side-navigation-body * {
    font-size: 0.9rem;
    background-color:rgb(185, 0, 0);
    color: white;
}

.active {
    outline: 2px solid white;
}

.side-navigation-body a:hover, li:hover {
    outline: 2px solid white;
}

.side-navigation li, .down-button {
    padding: 0.5rem 1rem;
}

.side-navigation li:not(last-child) {
    margin-bottom: 1rem;
}

.down-button:not(last-child) {
    margin-right: 1rem;
}

.side-navigation-download-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;    
}


/* -- END of Side Navigation Bar -- */


/* -- List Styles -- */
li { list-style-position: inside; } /* Para nasa loob yung numbers or bullets sa margin */

.list-header {
    margin-bottom: 1rem; /* Relative to HTML ROOT font size (em relative to font size of parent ata) */
}
/* -- END of List Styles -- */


/* -- Other Text Styles -- */
.main-body div {
    margin-bottom: 0.5in;
}

h3, p:not(:last-child), ul:not(:last-child), ol:not(:last-child) {  /* Last child as in pinakahuli in the partition */
    margin-bottom: 2.4rem; 
}

h1 { 
    font: 900 2.5rem "Open Sans"; 
    color:rgb(185, 0, 0);
    border-width: 0 0 5px 0;
    border-style: solid inset;
    border-color: rgb(185, 0, 0);
}

h2 {
    font: 800 1.8rem "Open Sans"; 
    color:rgb(185, 0, 0);
    margin-bottom: 0.5in;
}

h3 {
    font: 600 1.4rem "Open Sans"; 
    text-decoration: underline;
    color: rgb(185, 0, 0);
}

h4 {
    font: 600 1.1rem "Open Sans";
    margin-bottom: 1.2rem;
}


time { 
    font-size: 0.7rem; 
    margin: 0.7em 0;
    color: rgb(129, 129, 129);
} 

p, ol, ul { 
    font: 400 1.0rem/1.5 "Roboto"; 
}

.link {
    color: darkcyan;
    text-decoration: underline;
}

.link:hover {
    color: darkred;
}
/* -- END -- */


/* -- Table Styles -- */
.table {
    display: unset;
    padding: unset;
}

table {
    width: 100%;
    margin-bottom: 0.5in;
}

table, th, td {
    border: 1px solid gray;
}

.table-header > p {
    text-align: center;
    font: 600 1.1rem "Open Sans"
}

td {
    vertical-align: top;
}

td > p {
    margin: 1rem 1rem 1.5rem 1rem !important;
}

.first-col {
    width: 20%;
}

.second-col {
    width: 20%;
}

.third-col {
    width: 60%;
}
/* -- END of Table Styles -- */
