
.main { /* CENTERING A DIV AHAKDOG */
    display: grid;
    grid-template-columns: 1fr 9in 4in 1fr; /* fr as in Fractioning sections of webpage */
    grid-template-rows: auto auto;
    padding: 0.5in 0;
}

.main :not(.side-navigation, .main-title) { /* All other divs */
    grid-column: 2 / 3;
}

.main .main-title {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.main .side-navigation{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    margin-left: 0.5in;
}

.main div {
    margin: 0.5in 0;
}

@media (max-width: 13in) { /* Responsive Web Design, media query, adapts accordingly */
    .main { grid-template-columns: 5% 81% 9% 5%; }
    :root { font-size: 18px; }
}

@media (max-width: 5.0in) {
    :root { font-size: 16px; }
}
/* -- END -- */

.side-navigation {
    list-style-type: none;
    outline: 1px solid rgb(194, 194, 194);
}

/* -- List Styles -- */
li { list-style-position: inside; } /* Para nasa loob yung numbers or bullets sa margin */

.list-header {
    margin-bottom: 1rem; /* Relative to HTML ROOT font size (em relative to font size of parent ata) */
}
/* -- END -- */

/* -- Other Text Styles -- */

h3, p:not(:last-child), ul:not(:last-child), ol:not(:last-child) {  /* Last child as in pinakahuli in the partition */
    margin-bottom: 2.4rem; 
}

h1 { 
    font: 900 2.5rem "Open Sans"; 
    color:rgb(185, 0, 0);
    border-width: 0 0 5px 0;
    border-style: solid inset;
    border-color: rgb(185, 0, 0);
}

h2 {
    font: 800 1.8rem "Open Sans"; 
    color:rgb(185, 0, 0);
    margin-bottom: 0.5in;
}

h3 {
    font: 600 1.4rem "Open Sans"; 
    text-decoration: underline;
    color: rgb(185, 0, 0);
}

h4 {
    font: 600 1.1rem "Open Sans";
    margin-bottom: 1.2rem;
}


time { 
    font-size: 0.7rem; 
    margin: 0.7em 0;
    color: rgb(129, 129, 129);
} 

p, ol, ul { 
    font: 400 1.0rem/1.5 "Roboto"; 
}

.link {
    color: darkcyan;
    text-decoration: underline;
}

.link:hover {
    color: darkred;
}
/* -- END -- */

/* -- Table Styles -- */
.table {
    display: unset;
    padding: unset;
}

table {
    width: 100%;
    margin-bottom: 0.5in;
}

table, th, td {
    border: 1px solid gray;
}

.table-header > p {
    text-align: center;
    font: 600 1.1rem "Open Sans"
}

td {
    vertical-align: top;
}

td > p {
    margin: 1rem 1rem 1.5rem 1rem !important;
}

.first-col {
    width: 20%;
}

.second-col {
    width: 20%;
}

.third-col {
    width: 60%;
}
/* -- END -- */
